# Node modules (install inside container)
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml
package-lock.json

# Logs
*.log
logs
*.tsbuildinfo

# Build output
dist
build

# OS files
.DS_Store
Thumbs.db

# IDE / editor files
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Misc
*.swp
*.bak